button.open i {
    font-size: 20px;
}

button.edit,
button.delete,
button.add {
    border: 0px;
    background: #424242;
    color: white;
}

button i {
    font-size: 16px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

::ng-deep .tooltip {
    --mdc-plain-tooltip-container-color: #C2185B;
    --mdc-plain-tooltip-supporting-text-color: white;
}

table {
    width: 100%;
}

::ng-deep .mat-mdc-header-cell {
    border-bottom-color: #C2185B !important;
}

::ng-deep .mdc-data-table__cell,
.mdc-data-table__header-cell {
    text-align: start !important;
}

::ng-deep .all-tooltip {
    --mdc-plain-tooltip-container-color: #C2185B !important;
    --mdc-plain-tooltip-supporting-text-color: white;
}

mat-icon {
    color: white !important;
}